---
import Layout from "../layouts/Layout.astro";
import Games from "../components/sections/home/Games.astro";
import Tag from "../components/Tag.tsx";
import SetCard from "../components/SetCard.tsx";
---

<Layout title="FAQ">
  <main class="flex justify-center w-full p-10">

    <!-- <Games /> -->

    <div class="flex flex-col gap-4">
      <SetCard card={{
        shape: "diamond",
          color: "red",
          fill: "open",
          number: 2,
        }}
        selected={true}
        size="lg"
      />
      <SetCard card={{
        shape: "oval",
        color: "green",
        fill: "striped",
        number: 3,
      }}
      size="md"
      />
      <SetCard card={{
        shape: "squiggle",
        color: "purple",
        fill: "open",
        number: 1,
      }}
      size="sm"
      />
      <SetCard card={{
        shape: "diamond",
        color: "blue",
        fill: "solid",
        number: 3,
      }}
      size="lg"
      />
    </div>

  </main>
</Layout>
