---
import Layout from "../layouts/Layout.astro";
import ControlledSetCard from "../components/Set/ControlledSetCard.tsx";
import Tag from "../components/Tag.tsx";
import SetExampleCards from "../components/Set/SetExampleCards.tsx";
import SetAnimation from "../components/Set/SetAnimation";
---

<Layout title="FAQ">
  <main class="flex justify-center w-full p-10">

  <!-- <button data-set-theme="" data-act-class="ACTIVECLASS"></button>
  <button data-set-theme="dark" data-act-class="ACTIVECLASS"></button>
  <button data-set-theme="pink" data-act-class="ACTIVECLASS"></button>
  

  <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS"></button> -->


  <select data-choose-theme>
    <option value="">Default</option>
    <option value="dark">Dark</option>
    <option value="pink">Pink</option>
  </select>

    <!-- <div class="flex flex-col gap-8 items-center">
      <ControlledSetCard client:load />
      <SetAnimation client:load />
      <SetExampleCards client:load />
    </div> -->

  </main>
</Layout>
