---
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/faq.astro";

---

<Layout title="METAGAME 2025 | FAQ">
  <main class="flex justify-center w-full p-6">
    <FAQ />
  </main>
</Layout>
