---
import Layout from "../layouts/Layout.astro";
import TicketCard from "../components/TicketCard.astro";
import Hero from "../components/sections/home/Hero.astro";
import Organizers from "../components/sections/home/Organizers.astro";
import Speakers from "../components/sections/home/Speakers.astro";
import Location from "../components/sections/home/Location.astro";
import CallForSpeakers from "../components/sections/home/CallForSpeakers.astro";
import SubscribePopup from "../components/SubscribePopup.astro";
import Calendar from "../components/sections/home/Calendar.astro";
import GetInvolved from "../components/sections/home/GetInvolved.astro";
import Markets from "../components/sections/home/Markets.astro";
import ContactUs from "../components/sections/home/ContactUs.astro";
import PacmanAnimation from "../components/PacmanAnimation.astro";
import Venue from "../components/sections/home/Venue.astro";
import SetAnimationMin from "../components/Set/SetAnimationMin.tsx";
import SetCardMin from "../components/Set/SetCardMin.tsx";
import SetAnimation from "../components/Set/SetAnimation.tsx";
import { TICKET_EARLY_BIRD_URL, TICKET_VOLUNTEER_URL, TICKET_SUPPORTER_URL } from "../config";
---

<Layout title="Home">
  <main class="dark:text-white">
    <div class="container mx-auto px-4">
      <Hero />
      <Calendar />
      <GetInvolved />
      <Speakers />
      <Markets />
      <div id="set-animation">
        <SetAnimation client:load />
      </div>
      <!-- <Venue /> -->
      <!-- <Location /> -->
      <section class="mb-8 bg-dark-500 mt-4" id="tickets">
        <div class="container mx-auto">
          <h2 class="mb-8 text-3xl font-bold text-center">
            Grab a ticket!
          </h2>
          <div class="grid grid-cols-1 gap-8 md:grid-cols-3 pb-20">
            <TicketCard
              title="NPC"
              price={`$150`}
              description="Volunteer for 6 shifts over the weekend"
              href={TICKET_VOLUNTEER_URL}
            />
            <TicketCard
              title="Player"
              price={`$500`}
              regularPrice="$650"
              description="Early bird price through June 15th, 2025"
              href={TICKET_EARLY_BIRD_URL}
            />
            <TicketCard
              title="Supporter"
              price="$2048"
              description="We will name a game after you"
              href={TICKET_SUPPORTER_URL}
            />
          </div>
        </div>
      </section>
    </div>
    <PacmanAnimation numDots={30} />
    <div class="container mx-auto px-4">
  
      <ContactUs />
      <!-- <CallForSpeakers /> -->
      <!-- <SubscribePopup /> -->
</div>
  </main>
</Layout>
