---
import Layout from "../layouts/Layout.astro";
import TicketCard from "../components/TicketCard.astro";
import Hero from "../components/sections/home/Hero.astro";
import Organizers from "../components/sections/home/Organizers.astro";
import Speakers from "../components/sections/home/Speakers.astro";
import Location from "../components/sections/home/Location.astro";
import CallForSpeakers from "../components/sections/home/CallForSpeakers.astro";
import SubscribePopup from "../components/SubscribePopup.astro";
import Games from "../components/sections/home/Games.astro";
import Markets from "../components/sections/home/Markets.astro";
import ContactUs from "../components/sections/home/ContactUs.astro";
import PacmanAnimation from "../components/PacmanAnimation.astro";
import Venue from "../components/sections/home/Venue.astro";
import SetAnimation from "../components/Set/SetAnimation.tsx";
---

<Layout title="Home">
  <main class="dark:text-white px-4">
    <Hero />
    <Games />
    <Speakers />
    <SetAnimation client:load />
    <Markets />
    <!-- <Venue /> -->

    <!-- <Location /> -->
    <section class="mb-8 bg-dark-500 mt-40" id="tickets">
      <div class="container mx-auto">
        <h2 class="mb-8 text-3xl font-bold text-center">
          Grab a ticket!
        </h2> 

        <div class="grid grid-cols-1 gap-8 md:grid-cols-3 pb-20">
          <TicketCard
            title="NPC"
            price={`$101`}
            regularPrice="$404"
            description="Volunteer for 6 shifts over the weekend"
            features={[
              "Premium swag",
              "OK food",
              "Participation in a volunteer cult initiation ritual"
            ]}
          />
          <TicketCard
            title="Player"
            price={`$404`}
            regularPrice="$666"
            description="Early bird price through June 1st, 2025"
            features={[
              "Premium swag",
              "OK food",
              "Don't have to spend your conference staffing the volunteer desk"
            ]}
          />
          <TicketCard
            title="Supporter"
            price="$2048"
            description="We will name a game after you"
            features={[
              "Premium swag",
              "Slightly better than OK food",
              "The knowledge that you're supporting other people's fun"
            ]}
            buttonText="Contact Us"
            href="mailto:ricki.heicklen@gmail.com"
          />
        </div>
      </div>
    </section>
    <PacmanAnimation numDots={30} />

    <ContactUs />
    <!-- <CallForSpeakers /> -->
    <!-- <SubscribePopup /> -->
  </main>
</Layout>
