---
interface Props {
  classes?: string;
  link?: string;
  background?: string;
  target?: string;
}

const { link, classes, background, target } = Astro.props;

const bg = background ?? `bg-gradient-to-r from-fuchsia-500 via-amber-500 to-fuchsia-500`;

---

<a href={link} target={target} class={`${classes ?? ''} relative inline-block hover:scale-105 transition-all`}>
  <button class="btn btn-primary btn-wide uppercase font-bold">
    <slot />
  </button>
</a>