---
interface Props {
  classes?: string;
  link?: string;
  background?: string;
  target?: string;
}

const { link, classes, background, target } = Astro.props;

const bg = background ?? `bg-gradient-to-r from-fuchsia-500 via-amber-500 to-fuchsia-500`;

---

<a role="button" href={link} target={target} class={`w-full ${classes ?? ''} position-relative btn btn-primary uppercase font-bold items-center hover:scale-105 transition-all `}>
    <slot />
</a>