---
interface Props {
  text: string;
  classes?: string;
}

const { text, classes = '' } = Astro.props;

---
<span class={`group inline-block relative ${classes}`}>
  <span class="transition-colors duration-300 group-hover:text-amber-400">{text}</span>
  <span class="absolute -top-6 left-1/2 -translate-x-1/2 opacity-0 transition-all duration-300 group-hover:animate-coin-pop group-hover:opacity-100">🟡</span>
</span>