---
import Link from "./Link.astro";

const year = new Date().getFullYear();
---

<footer class="bg-base py-9 px-6">
    <div class="container mx-auto flex gap-4 flex-col-reverse md:flex-row items-center justify-between">
      <p class="text-success">© {year} MetaGame. All rights reserved.</p>
      <!-- <div class="flex space-x-4">
        <Link href="/terms">
          Terms and Conditions
        </Link>
      </div>
      <div class="flex space-x-4">
        <Link href="https://call-for-volunteers-link">
          Call for Volunteers
        </Link>
        <Link href="https://call-for-speakers-link">
          Call for Speakers
        </Link>
        <Link href="https://call-for-sponsors-link">
          Call for Sponsors
        </Link>
      </div> -->
      <div class="flex space-x-4">
        <Link href="https://x.com/your-twitter-link">
          Twitter
        </Link>
        <Link href="https://discord.gg/metagames">
          Discord
        </Link>
      </div>
    </div>
  </footer>