---
import Link from "./Link.astro";
import { SOCIAL_LINKS } from '../config';

const year = new Date().getFullYear();
---

<footer class="py-9 px-6">
    <div class="container mx-auto flex gap-4 flex-col-reverse md:flex-row items-center justify-between">
      <p class="text-base-content">© {year} Metagame. All rights reserved.</p>
      <!-- <div class="flex space-x-4">
        <Link href="/terms">
          Terms and Conditions
        </Link>
      </div>
      <div class="flex space-x-4">
        <Link href="https://call-for-volunteers-link">
          Call for Volunteers
        </Link>
        <Link href="https://call-for-speakers-link">
          Call for Speakers
        </Link>
        <Link href="https://call-for-sponsors-link">
          Call for Sponsors
        </Link>
      </div> -->
      <div class="flex space-x-4">
        <Link href={SOCIAL_LINKS.TWITTER}>
          Twitter
        </Link>
        <Link href={SOCIAL_LINKS.DISCORD}>
          Discord
        </Link>
        <select data-choose-theme>
          <option value="">Default</option>
          <option value="dark">Dark</option>
          <option value="pink">Pink</option>
          <option value="mytheme">My Theme</option>
          <option value="synthwave">Synthwave</option>
          <option value="retro">Retro</option>
          <option value="cyberpunk">Cyberpunk</option>
          <option value="forest">Forest</option>
          <option value="cupcake">Cupcake</option>
          <option value="acid">Acid</option>
          <option value="aqua">Aqua</option>
          <option value="black">Black</option>
        </select>
      </div>
    </div>
  </footer>