---
import Link from "./Link.astro";
import { SOCIAL_LINKS } from '../config';

const year = new Date().getFullYear();
---

<footer class="bg-dark-500 py-9 px-6">
    <div class="container mx-auto flex gap-4 flex-col-reverse md:flex-row items-center justify-between">
      <p class="text-cyan-300">© {year} MetaGame. All rights reserved.</p>
      <!-- <div class="flex space-x-4">
        <Link href="/terms">
          Terms and Conditions
        </Link>
      </div>
      <div class="flex space-x-4">
        <Link href="https://call-for-volunteers-link">
          Call for Volunteers
        </Link>
        <Link href="https://call-for-speakers-link">
          Call for Speakers
        </Link>
        <Link href="https://call-for-sponsors-link">
          Call for Sponsors
        </Link>
      </div> -->
      <div class="flex space-x-4">
        <Link href={SOCIAL_LINKS.TWITTER}>
          Twitter
        </Link>
        <Link href={SOCIAL_LINKS.DISCORD}>
          Discord
        </Link>
      </div>
    </div>
  </footer>