---
import Link from "./Link.astro";

const year = new Date().getFullYear();
---

<footer class="bg-dark-500 py-9 px-6">
    <div class="container mx-auto flex gap-4 flex-col-reverse md:flex-row items-center justify-between">
      <p class="text-cyan-300">© {year} Your Conference. All rights reserved.</p>
      <div class="flex space-x-4">
        <Link href="/terms">
          Terms and Conditions
        </Link>
      </div>
      <div class="flex space-x-4">
        <Link href="https://call-for-volunteers-link">
          Call for Volunteers
        </Link>
        <Link href="https://call-for-speakers-link">
          Call for Speakers
        </Link>
        <Link href="https://call-for-sponsors-link">
          Call for Sponsors
        </Link>
      </div>
      <div class="flex space-x-4">
        <Link href="https://x.com/your-twitter-link">
          Twitter
        </Link>
        <Link href="https://fb.me/your-facebook-link">
          Facebook
        </Link>
        <Link href="https://instagram.com/your-instagram-link">
          Instagram
        </Link>
        <Link href="https://www.linkedin.com/company/your-linkedin-link">
          LinkedIn
        </Link>
      </div>
    </div>
  </footer>