---
type Props = {
    href?: string;
    rel?: string;
    target?: string;
}

const { href, rel, target } = Astro.props;

---

<a
    class="text-secondary-500 hover:text-fuchsia-500 hover:underline transition-colors"
    target={target}
    rel={rel}
    href={href}
>
  <slot />
</a>
