---
type Props = {
    href?: string;
    rel?: string;
    target?: string;
}

const { href, rel, target } = Astro.props;

---

<a
    class="text-primary hover:text-secondary hover:underline transition-colors"
    target={target}
    rel={rel}
    href={href}
>
  <slot />
</a>
