---
type Props = {
  current?: boolean;
  href?: string;
};

const { current, href } = Astro.props;
---

<li>
  <a
    href={href}
    class={`block py-2 px-3 text-white font-bold text-lg rounded md:bg-transparent hover:text-secondary-200 transition-all md:p-0`}
    class:list={[
        {
            'bg-fuchsia-700': current,
        }
    ]}
  >
    [<slot />]
  </a>
</li>
