---
import Link from "@/components/Link.astro";
import MyCrossword from "@/components/MyCrossword.tsx";
import Coincidence from "@/components/Coincidence.astro";
---
<section
  class="container rounded-xl mx-auto mb-8 bg-dark-500 border border-t border-b border-secondary-300"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-10">
    <div>
      <h2 class="mb-8 text-2xl font-bold text-secondary-200">
        What is Metagame?
      </h2>
      <p class="mb-4 font-semibold">
        Brought to you by the <Link href="https://www.trading.camp/">Arbor Trading Bootcamp</Link> team, Metagame is a weekend conference devoted to games. We mean games in the broadest sense of the word: any experience that is designed to be played, as opposed to passively consumed. This includes board games, card games, videogames, tabletop games, LARPs, puzzles, rock climbing routes, and more. If building it involves asking the question "what would the consumer of this experience choose to do next?", it's a game.
        <br/>
        <br/>
        My guess is the event will lean extremely toward the "communal, chaotic, unconferenc-y" end of the professionalism spectrum, with a lot of the [sessions? experiences? internal plot devices?] designed by attendees. 
        <br/>
        <br/>
       This is not a <Coincidence />, because nothing is ever a <Coincidence />.
      </p>
    </div>
    <div>
      <MyCrossword client:only="react" />
    </div>
  </div>
</section>