---
import Link from "../../Link.astro";
import MyCrossword from "../../MyCrossword.jsx";
---

<section
  class="container rounded-xl mx-auto mb-8 border border-t border-b border-secondary"
  id="games"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="p-10">
      <h2 class="mb-8 text-2xl font-bold text-secondary">
        Lighthaven
      </h2>
      <p class="mb-4 font-semibold">
        Lighthaven is a 100-year-old mansion in the heart of the city of San Francisco. It's a beautiful, historic building with a rich history.
      </p>
    </div>
    <div class="p-10">
      <img src="/src/img/splash_image_campus_map.jpg" alt="Lighthaven" class="w-full h-auto" />
    </div>
  </div>
</section>